In [1]:
import pandas as pd
import os
from PIL import Image
from tqdm import tqdm

In [2]:
train_csv_path = "../data/train2.csv"
train_path = "../data/train/"
meta_data_path = "../data/meta.csv"

train_df = pd.read_csv(train_csv_path)
meta_data = pd.read_csv(meta_data_path)
train_df

                        ID  target
0     002f99746285dfdd.jpg      16
1     008ccd231e1fea5d.jpg      10
2     008f5911bfda7695.jpg      10
3     009235e4c9c07af5.jpg       4
4     00b2f44967580c74.jpg      16
...                    ...     ...
1565  fed9e9ec4a77bc06.jpg       4
1566  feeade617aa68c45.jpg       7
1567  ff51dd281a8423f1.jpg      11
1568  ff8a6a251ce51c95.jpg       5
1569  ffc22136f958deb1.jpg       9

[1570 rows x 2 columns]

In [ ]:
widths, heights = [], []

for img_id in tqdm(train_df["ID"], desc="이미지 크기 계산"):
    img_path = os.path.join(train_path, img_id)
    with Image.open(img_path) as img:
        w, h = img.size
    widths.append(w)
    heights.append(h)

train_df["width"] = widths
train_df["height"] = heights

# aspect_ratio, aspect_bin, strata 컬럼 생성
train_df["aspect_ratio"] = train_df["width"] / train_df["height"]
train_df["aspect_bin"] = pd.cut(train_df["aspect_ratio"], bins=4, labels=False)
train_df["strata"] = train_df["target"].astype(str) + "_" + train_df["aspect_bin"].astype(str)
train_df

이미지 크기 계산: 100%|██████████| 1570/1570 [00:00<00:00, 16917.21it/s]

,ID,target,width,height,aspect_ratio,aspect_bin,strata
0,002f99746285dfdd.jpg,16,443,591,0.749577,0,16_0
1,008ccd231e1fea5d.jpg,10,443,591,0.749577,0,10_0
2,008f5911bfda7695.jpg,10,443,591,0.749577,0,10_0
3,009235e4c9c07af5.jpg,4,443,591,0.749577,0,4_0
4,00b2f44967580c74.jpg,16,443,591,0.749577,0,16_0
...,...,...,...,...,...,...,...
1565,fed9e9ec4a77bc06.jpg,4,443,591,0.749577,0,4_0
1566,feeade617aa68c45.jpg,7,443,591,0.749577,0,7_0
1567,ff51dd281a8423f1.jpg,11,591,443,1.334086,1,11_1
1568,ff8a6a251ce51c95.jpg,5,722,362,1.994475,3,5_3
1569,ffc22136f958deb1.jpg,9,590,443,1.331828,1,9_1